/* @import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes zoomIn {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}





html{
    min-height: 100vh;
}

body{
    background:linear-gradient(to top right, #0f172a, #0e1729, #151f34);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin:0;
    padding: 0;
}

main{
    padding-top: 90px;
    margin:0;
}



.navbar{
    display:flex; /* ofera flexibilitate div-ului nostru*/
    position:fixed; /* div-ul nostru are o pozitie fixa */
    background-color:rgba(0,0,0,0.10); /* culoarea de fundal */
    backdrop-filter: blur(10px); /* backdrop-filter = ne permite sa adaugam efecte grafice , de exemplu : blur sau color shifting*/
    -webkit-backdrop-filter: blur(10px); /*webkit = proprietate a motorului Webkit , pentru browsere vechi , face acelasi lucru ca backdrop-filter*/
    margin:0;  
    padding: 0;
    width:100%;
    height:90px;
    justify-content: center;
    align-items: center;
    z-index: 888;
}

/* Navbar title  */
.navbar .navbar-title{
    display: flex;
    position: absolute;
    left:0;
    padding-left: 15vw;
    color:white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.navbar .navbar-title:hover{
    color:#f3bb3b;
    animation: ease-in .2s;
}

.navbar-logo{
    position: relative;
    width:50px;
    height:50px;
    top:-4px;
}

.navbar .navbar-button{
    display: flex;
    position: absolute;
    text-decoration: none;
    right:0;
    transform:translateX(-15vw); /*!*/
    width:120px;
    height: 45px;
    background-color: #4f46e5;
    border-radius: 10px;
    justify-content: center;
    align-items: center;    
}


.navbar .navbar-button h1{
    color:white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.1rem;
    text-align: center;
}



.gameWindow{
    display:flex;
    position: relative;
    width: 100%;
    min-height: 500px;
    /* background-color: lime; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:20px;
    padding-bottom: 10px;
    padding-top: 60px;

}


.gameWindow .gameWindow-playbg{
    display: flex;
    position: relative;
    width:50vw;
    height: 800px;
    background-color: #334155;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #2a3749;
    border-width: 6px;
}

.gameWindow-playbg .gameWindow-play{
    display: flex;
    position: relative;
    width:48vw;
    height: 750px;
    background-color: #212c3f;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style:dashed;
    border-color: #aba5a5;
    border-width: 3px;
    flex-direction: column;
}

/* 
datad

datad
datad
d
 */





.gameWindow-play .gamewindow-playuiStart{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.gamewindow-playuiStart h1{
    color:white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
}

.gamewindow-playuiStart p{
    position: relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#8c9bb3;
    margin-top: -20px;
    text-align: center;
}
.gamewindow-playuiStart .startGame{
    background-color: #10b981;
    width: 170px;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 30px #1ae19f89;
    border: none;
    cursor: pointer;
}
.gamewindow-playuiStart .startGame h1{
    color:white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center;

   
}

.gamewindow-playuiStart .startGame:focus{transform: scale(1.1);}
.gamewindow-playuiStart .startGame:hover{transform: scale(1.1);}




/* Game Over Css */



.gameWindow-play .gamewindow-gameOver{
    display:none;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.244);
    z-index: 5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gamewindow-gameOver .gameOver-text{
    position: relative;
    background: linear-gradient(to top,#4b4b4d,#dcdcde);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
    text-align: center;
    text-shadow: 0px 0px 5px white;
    margin-top: -100px;
}

.gamewindow-gameOver .gameOver-description{
    position: relative;
    color:#98A6B5;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-top: -40px;
}


.gamewindow-gameOver .gameOver-scoreShowcase{
    display: flex;
    position: relative;
    width:500px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.gamewindow-gameOver .gameOver-circle{
    display:flex;
    position: absolute;
    width:140px;
    height:140px;
    filter:blur(70px);
    background-color: #24243f;
    border: none;
    border-radius: 50%;
    z-index: 0;
}

.gameOver-scoreShowcase .gameOver-score{
    color:white;
    font-family: "Share Tech Mono", monospace;
    font-weight: 800; 
    font-size: 100px;
    font-style: normal;
    z-index: 2;
}


.gamewindow-gameOver .gameOver-container{
    display:flex;
    position: relative;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}


.gamewindow-gameOver .gameOver-containerBox{
    display:flex;
    position:relative;
    align-items: center;
    justify-content: center;
    background-color: #20202253;
    border: solid;
    border-width: 3px;
    border-color: #27272a;
    width: 300px;
    height: 150px;
    border-radius: 15px;
    flex-direction: column;
}




.gameOver-container .containerBox-container{
    display:flex;
    position: relative;
    width: auto;
    height: auto;
    gap:5px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.containerBox-container .gameOver-bestscoreText{
    color:#525257;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;

}

.containerBox-container .gameOver-icon{
    color:#525257;
    width: 30px;
    height: 30px;
}


.gameOver-container .gameOver-bestscore{
    color:white;
    font-family: "Share Tech Mono", monospace;
    font-weight: 700; 
    font-size: 50px;
    margin-top: -15px;
    font-style: normal;
}

.gamewindow-gameOver .gameOver-containerbuttons{
    display:flex;
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: -130px;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.gameOver-containerbuttons .gameOver-retry{
    display: flex;
    position:relative;
    width: calc(55% - 40px);
    border:none;
    border-radius: 10px;
    height:75px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:10px;
    cursor: pointer;
}

.gameOver-retry h1{
    color:#0a0a0a;
    font-family: "Share Tech Mono", monospace;
    font-weight: 700; 
    font-size: 35px;
    font-style: normal;
}

.gameOver-containerbuttons .gameOverbutton-icon{
    color: #0a0a0a;
    width:35px;
    height: 35px;
}
.gameOver-containerbuttons .gameOverbutton-icon2{
    color: #fafafa;
    width:25px;
    height: 25px;
}





.gameWindow .gameWindow-scoreboard{
    display: flex;
    position: relative;
    width:20vw;
    height: 800px;
    background-color: #334155;
    /* justify-content: center;
    align-items: center; */
    border-radius: 10px;
    border-style: solid;
    border-color: #2a3749;
    border-width: 6px;
    flex-direction: column;
}

.gameWindow-scoreboard .topScore{
    display:flex;
    position:relative;
    width: 100%;
    height: 180px;
    background-color: lime;
}
.gameWindow-scoreboard .topScore .cardbox-icon{
    color: #24c0db;
    width: 35px;
    height: 35px;
    
}

.gameWindow-play .gamewindow-playuiPlay{
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    align-self: center;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    
}

.gameWindow-play .playuiStart-panel{
    display:none;
    position: absolute;
    top:10px;
    left: 10px;
    width:200px;
    height: 100px;
    background-color: #1c242f;
    border-radius: 10px;
    border-style:dashed;
    border-color: #aba5a5;
    border-width: 3px;
    z-index: 271;
    flex-direction: column;
    
}

.playuiStart-panel h1{
    display:flex;
    position:relative;
    margin-left:10px;
    color:#fafafa;
    font-family: "Share Tech Mono", monospace;
    font-weight: 700; 
    font-size: 20px;
    font-style: normal;
}


.gamewindow-playuiPlay .gamewindow-cell{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    background-color: #334155;

    
}

.gameWindow-play #gamewindow-h1{
    display:none;
    position: relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    top:0;
    font-size: 30px;
    font-style: normal;
    color: #ffffff;
    z-index: 5;
}

.gameWindow-play #gamewindow-p{
    display:none;
    position:relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#8c9bb3;
    margin-top:-25px;
}





.gameWindow-play .highlight{
    background-color: #85dd79;
    
}
.gameWindow-play .highlight2{
    background-color: #ddd879;
    /* background-color: #ff0000; */
    
}


.gameWindow-play .feedback{
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(96, 246, 138, 0.52);
    z-index: 2712;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn .1s ease-in,zoomIn .1s ease-out;
}

.feedback .feedback-h1{
    position: relative;
    /* background: linear-gradient(to top,#0a0e81,#1f1fff); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* background-clip: text; */
    /* color: transparent; */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-size: 120px;
    text-align: center;
    color : #FFFFFF;
    /* text-shadow: 0px 0px 15px rgb(100, 191, 255); */
    /* margin-top: -100px; */
}


/* joc nou */

.gamewindow-cell .tile-image{
    display: none;
    width:100px;
    height: 100px;
}

.gameWindow-play .flipped .tile-image{
    display: flex;
}




/* Games hub */

.gamesWindow {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Asigură-te că containerul permite scroll dacă e cazul */
    min-height: 100vh; 
    background-color: #0d131f; /* Un background dark pentru contrast */
    padding: 50px 20px;
    box-sizing: border-box;
}

.gamesWindow .page2-texts{
    /* background-color: black; */
    display:flex;
    position:relative;
    width: 100%;
    padding-bottom:50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
}
.page2-texts .page2-main-h1{
    display:flex;
    position: relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    color: #ffffff;
    z-index: 5; 
    margin-top: -15px;
}

.page2-texts .page2-description{  
    display:flex;
    position:relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#8c9bb3;
    margin-top:-25px;
}


.gamesWindow .fatherofallthesemfsdownbelowrightheretwin{
    display:flex;
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: lime; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.fatherofallthesemfsdownbelowrightheretwin .categories{
    display:flex;
    position:absolute;
    width: 10vw;
    height: 100%;
    /* background-color: lime; */
    flex-direction: column;
    align-items: center;
    left:10vw;
    gap:10px;
}

.categories .category-button{
    display:flex;
    position: relative;
    width:150px;
    background-color: #1e293b;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}

.category-button h1{
    color: #a2a0a0;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.categories .category-button:hover{
    background-color: #06b6d4;
}

.categories .category-button-selected{
    background-color: #06b6d4;
}
.categories .category-button-selected h1{
    color: #ffffff;
}

.categories .category-button:hover h1{
    color: #ffffff;
}

.gamesWindow .page2-infoCards{
    display:grid;
    position: relative;
    width: 100%;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    /* background-color: lime; */
    flex-direction: row;
    gap:30px;
    grid-template-columns: repeat(3,.19fr);
}

.page2-infoCards .page2-card{
    display:flex;
    position: relative;
    width: 450px;
    height: 350px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color:#313f53;
    transition: all ease-in .3s;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.page2-card .card-button{
    display: flex;
    position: absolute;
    top:40%;
    width:120px;
    height: 50px;
    background-color: #06b6d4;
    z-index: 6;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    opacity: 0;
    transition: all ease-in .3s;
}
.page2-card .card-button a{
    text-decoration: none;
}

.page2-card .card-button h1{
    color: #ffffff;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.page2-card .overlay{
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.379);
    z-index: 5;
    transition: all ease-in .1s;
}
.page2-card .category-card{
    display:flex;
    position: absolute;
    top:5px;
    right: 5px;
    width:80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.744);
    color:#ffffff;
    z-index: 4;
    justify-content: center;
    align-items: center;
}
.category-card h1{
    color: #ffffff;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 15px;
    
}

.page2-infoCards .page2-card img{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    /*
    Nu am folosit background-size,background-position,background-repeat etc 
    pentru ca : este mult mai flexibila proprietatea object + ca este o solutie
    moderna si este o practica mult mai buna decat background.
    */
    
    object-fit: cover;
    object-position: center;
    transform: scale(1);
    border-radius:10px;
    transition: all ease-in .2s;
}
.gamesWindow .card-info{
    display:flex;
    position: absolute;
    width:100%;
    height: 130px;
    background-color: #162033;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.page2-infoCards .page2-card:hover{
    border-color:#06b6d4;
    box-shadow: 0px 13px 45px #06b5d481;
    transform: scale(1.05);
    /* transition: transform ease-in .3s; */
}
.page2-infoCards .page2-card:hover .card-button{
    top:30%;
    opacity: 100;
}
.page2-infoCards .card-button:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 45px #06b5d481;
}
.page2-infoCards .page2-card:hover .overlay{
    opacity: 100;
}
.page2-infoCards .page2-card:hover img{
    transform: scale(1.1);
}

.page2-card .page2-cardText{
    display: flex;
    position: absolute;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: #ffffff;
    top:0;
    left:5%;
}

.page2-card .page2-cardDesc{
    display: flex;
    position: absolute;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    color: #21d3d1;
    top:40%;
    left:5%;
}