/* @import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

html{
    min-height: 100vh;
}

body{
    background:linear-gradient(to top right, #0f172a, #0e1729, #151f34);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin:0;
    padding: 0;
}

main{
    padding-top: 90px;
    margin:0;
}



.navbar{
    display:flex; /* ofera flexibilitate div-ului nostru*/
    position:fixed; /* div-ul nostru are o pozitie fixa */
    background-color:rgba(0,0,0,0.10); /* culoarea de fundal */
    backdrop-filter: blur(10px); /* backdrop-filter = ne permite sa adaugam efecte grafice , de exemplu : blur sau color shifting*/
    -webkit-backdrop-filter: blur(10px); /*webkit = proprietate a motorului Webkit , pentru browsere vechi , face acelasi lucru ca backdrop-filter*/
    margin:0;  
    padding: 0;
    width:100%;
    height:90px;
    justify-content: center;
    align-items: center;
    z-index: 888;
}

/* Navbar title  */
.navbar .navbar-title{
    display: flex;
    position: absolute;
    left:0;
    padding-left: 15vw;
    color:white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.navbar .navbar-title:hover{
    color:#f3bb3b;
    animation: ease-in .2s;
}

.navbar-logo{
    position: relative;
    width:50px;
    height:50px;
    top:-4px;
}

.navbar .navbar-button{
    display: flex;
    position: absolute;
    text-decoration: none;
    right:0;
    transform:translateX(-15vw); /*!*/
    width:120px;
    height: 45px;
    background-color: #4f46e5;
    border-radius: 10px;
    justify-content: center;
    align-items: center;    
}


.navbar .navbar-button h1{
    color:white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.1rem;
    text-align: center;
}



.gameWindow{
    display:flex;
    position: relative;
    width: 100%;
    min-height: 500px;
    /* background-color: lime; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:20px;
    padding-bottom: 10px;
    padding-top: 60px;

}


.gameWindow .gameWindow-playbg{
    display: flex;
    position: relative;
    width:50vw;
    height: 800px;
    background-color: #334155;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #2a3749;
    border-width: 6px;
}

.gameWindow-playbg .gameWindow-play{
    display: flex;
    position: relative;
    width:48vw;
    height: 750px;
    background-color: #212c3f;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style:dashed;
    border-color: #aba5a5;
    border-width: 3px;
    flex-direction: column;
}
.gameWindow-play .gamewindow-playuiStart{
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.gamewindow-playuiStart h1{
    color:white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
}

.gamewindow-playuiStart p{
    position: relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#8c9bb3;
    margin-top: -20px;
    text-align: center;
}
.gamewindow-playuiStart .startGame{
    background-color: #10b981;
    width: 170px;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 30px #1ae19f89;
    border: none;
}
.gamewindow-playuiStart .startGame h1{
    color:white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    text-align: center;

   
}

.gamewindow-playuiStart .startGame:focus{transform: scale(1.1);}
.gamewindow-playuiStart .startGame:hover{transform: scale(1.1);}




/* Game Over Css */



.gameWindow-play .gamewindow-gameOver{
    display:flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.461);
    z-index: 5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gamewindow-gameOver .gameOver-text{
    position: relative;
    background: linear-gradient(to top,#4b4b4d,#dcdcde);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
    text-align: center;
    text-shadow: 0px 0px 10px white;
    margin-top: -100px;
}

.gamewindow-gameOver .gameOver-description{
    position: relative;
    color:#98A6B5;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-top: -40px;
}


.gamewindow-gameOver .gameOver-scoreShowcase{
    display: flex;
    position: relative;
    width:500px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.gamewindow-gameOver .gameOver-circle{
    display:flex;
    position: absolute;
    width:140px;
    height:140px;
    filter:blur(70px);
    background-color: #24243f;
    border: none;
    border-radius: 50%;
    z-index: 0;
}

.gameOver-scoreShowcase .gameOver-score{
    color:white;
    font-family: "Share Tech Mono", monospace;
    font-weight: 800; 
    font-size: 100px;
    font-style: normal;
    z-index: 2;
}


.gamewindow-gameOver .gameOver-container{
    display:flex;
    position: relative;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}


.gamewindow-gameOver .gameOver-containerBox{
    display:flex;
    position:relative;
    align-items: center;
    justify-content: center;
    background-color: #20202253;
    border: solid;
    border-width: 3px;
    border-color: #27272a;
    width: 300px;
    height: 150px;
    border-radius: 15px;
    flex-direction: column;
}




.gameOver-container .containerBox-container{
    display:flex;
    position: relative;
    width: auto;
    height: auto;
    gap:5px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.containerBox-container .gameOver-bestscoreText{
    color:#525257;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;

}

.containerBox-container .gameOver-icon{
    color:#525257;
    width: 30px;
    height: 30px;
}


.gameOver-container .gameOver-bestscore{
    color:white;
    font-family: "Share Tech Mono", monospace;
    font-weight: 700; 
    font-size: 50px;
    margin-top: -15px;
    font-style: normal;
}

.gamewindow-gameOver .gameOver-containerbuttons{
    display:flex;
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: -130px;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.gameOver-containerbuttons .gameOver-retry{
    display: flex;
    position:relative;
    width: calc(55% - 40px);
    border:none;
    border-radius: 10px;
    height:75px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:10px;
}

.gameOver-retry h1{
    color:#0a0a0a;
    font-family: "Share Tech Mono", monospace;
    font-weight: 700; 
    font-size: 35px;
    font-style: normal;
}

.gameOver-containerbuttons .gameOverbutton-icon{
    color: #0a0a0a;
    width:35px;
    height: 35px;
}
.gameOver-containerbuttons .gameOverbutton-icon2{
    color: #fafafa;
    width:25px;
    height: 25px;
}
.gameOver-containerbuttons .gameOver-menu{
    display: flex;
    position:relative;
    width: calc(60% - 250px);
    border: none;
    border-radius: 10px;
    height:75px;
    background-color: #27272a6b;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.gameOver-menu h1{
    color:#fafafa;
    font-family: "Share Tech Mono", monospace;
    font-weight: 700; 
    font-size: 35px;
    font-style: normal;
}





.gameWindow .gameWindow-scoreboard{
    display: flex;
    position: relative;
    width:20vw;
    height: 800px;
    background-color: #334155;
    /* justify-content: center;
    align-items: center; */
    border-radius: 10px;
    border-style: solid;
    border-color: #2a3749;
    border-width: 6px;
    flex-direction: column;
}

.gameWindow-scoreboard .topScore{
    display:flex;
    position:relative;
    width: 100%;
    height: 180px;
    background-color: lime;
}
.gameWindow-scoreboard .topScore .cardbox-icon{
    color: #24c0db;
    width: 35px;
    height: 35px;
    
}

.gameWindow-play .gamewindow-playuiPlay{
    display: none;
    position: relative;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    align-self: center;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    
}


.gamewindow-playuiPlay .gamewindow-cell{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    background-color: #334155;

    
}

.gameWindow-play #gamewindow-h1{
    display:none;
    position: relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    top:0;
    font-size: 30px;
    font-style: normal;
    color: #ffffff;
    z-index: 5;
}

.gameWindow-play #gamewindow-p{
    display:none;
    position:relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#8c9bb3;
    margin-top:-25px;
}





.gameWindow-play .highlight{
    background-color: #85dd79;
    
}
.gameWindow-play .highlight2{
    background-color: #ddd879;
    /* background-color: #ff0000; */
    
}





/* joc nou */

.gamewindow-cell .tile-image{
    display: none;
    width:100px;
    height: 100px;
}

.gameWindow-play .flipped .tile-image{
    display: flex;
}