/* font-uri importate , sursa : Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
body{
    background:linear-gradient(to top right, #0f172a, #0e1729, #151f34);
    margin:0;
    padding: 0;
}
main{
    padding-top: 90px;
    margin:0;
}


/* 
keyframe = logica din spatele unei animatii,bazata pe puncte.
*/
@keyframes textGradient{
    0%{
        background-position: 0% 50%;  /* background-postion = x , y 
         primeste doua coordonate x si y pentru a pozitia fundalul unui obiect*/
    }
    100% {
        background-position: 100% 50%;
    }
}
@keyframes glow {
    0% {
        transform: translate(0px,0px) rotate(0deg);
        box-shadow: 0 0 60px 20px #3009a5, 25px 15px 50px 10px #2029a5, -5px -25px 30px 5px #2648d1;
    }
    100% {
        transform: translate(50px,50px) rotate(5deg);
        box-shadow: 0 0 80px 20px #56bcf9, 35px 20px 40px 10px #fff, -30px -30px 40px 5px #fff;
    }
}
@keyframes glow2 {
    0% {
        transform: translate(0px,0px) rotate(0deg);
        box-shadow: 0 0 60px 20px #3009a5, 25px 15px 50px 10px #2029a5, -5px -25px 30px 5px #2648d1;
    }
    100% {
        transform:translate(-25px,-50px) rotate(90deg);
        box-shadow: 0 0 100px 20px #254187, 35px 20px 40px 10px #6095cb, -30px -30px 40px 5px #4c97ed;
    }
}
/***************************************************************/

/*
    NAVBAR
*/
.navbar{
    display:flex; /* ofera flexibilitate div-ului nostru*/
    position:fixed; /* div-ul nostru are o pozitie fixa */
    background-color:rgba(0,0,0,0.10); /* culoarea de fundal */
    backdrop-filter: blur(10px); /* backdrop-filter = ne permite sa adaugam efecte grafice , de exemplu : blur sau color shifting*/
    -webkit-backdrop-filter: blur(10px); /*webkit = proprietate a motorului Webkit , pentru browsere vechi , face acelasi lucru ca backdrop-filter*/
    margin:0;  
    padding: 0;
    width:100%;
    height:90px;
    justify-content: center;
    align-items: center;
    z-index: 888;
}


/* Navbar title  */
.navbar .navbar-title{
    display: flex;
    position: absolute;
    left:0;
    padding-left: 20vw;
    color:white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.navbar .navbar-title:hover{
    color:#f3bb3b;
    animation: ease-in .2s;
}


.navbar-logo{
    position: relative;
    width:50px;
    height:50px;
    top:-4px;
    
}

/* Navbar Button List */
.navbar .navbar-buttons{
    list-style-type: none;
    display:flex;
    position:absolute;
    align-items: center;
    justify-content: center;
    right:0;
    padding-right: 20vw;
} 
.navbar .navbar-buttons li{
    margin-right: 20px;
}
.navbar .navbar-buttons a{
    text-decoration: none;
    color: white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal; 
}

.navbar .navbar-buttons li a:hover{
    color:#f3bb3b;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-buttons li a .underline {
    display: block;
    height: 2px;
    width: 0;
    background: white;
    transition: width 0.3s ease;
}

.navbar .navbar-buttons a:hover .underline{ 
    width: 100%;
}

/* 
    HAMBURGER
*/
.hamburger-check{
    display:none;
    appearance: none;
}
.hamburger-label {
    display:none;
    width:70px;
    height:50px;
    cursor:pointer;
}
/* Lucreaza pe div-urile din hamburger-label */
.hamburger-label div {
    width:50px;
    height:6px;
    background-color:white;
    position: absolute;
}
.hamburger-label .line1{
    transition: all .3s;
}
.hamburger-label .line2{
    margin: 18px 0 0 0;
    transition: 0.3s;
}
.hamburger-label .line3{
    margin:36px 0 0 0;
    transition: 0.3s;
}
#hamburger-check:checked + .hamburger-label .line1{
    transform: rotate(35deg) scaleX(.55) translate(39px, -4.5px);
    border-radius: 50px 50px 50px 0;
}
#hamburger-check:checked + .hamburger-label .line2{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 45px;
}
#hamburger-check:checked + .hamburger-label .line3{
    transform: rotate(-35deg) scaleX(.55) translate(39px, 4.5px);
     border-radius: 0 50px 50px 50px;
}


/* 
    HAMBURGER NAVBAR MOBILE MENU
*/

.navbar-mobile-menu {
    display: none;
    justify-content: center;
    align-items: center;
}
.navbar-mobile-menu .navbar-mobile-buttons{
    list-style-type: none;
    position:absolute;
    align-items: center;
    justify-content: center;
    top: 25%;
} 
.navbar-mobile-buttons a{
    text-decoration: none;
    color: white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal; 
    font-size:50px;
}



/*
    HEROPAGE 
*/

.heroPage{
    display:flex;
    flex-direction: column;
    width:100%;
    min-height:100vh;
    align-items: center;
    justify-content: center;
}

.heroPage .glow1 {
    display:flex;
    position: absolute;
    top: 60%;
    left: 10%;
    border-radius: 50%;
    animation: glow 5s linear 0s infinite alternate;
}
.heroPage .glow2 {
    display:flex;
    position: absolute;
    top: 30%;
    right:20%;
    border-radius: 50%;
    animation: glow2 3s linear 0s infinite alternate;
}
.heroPage .hero-image1{
    display:flex;
    position: absolute;
    width:600px;
    height: 600px;
    top:100px;    
}

.heroPage .heroPage-text1{
    position: absolute;
    top:15%;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 140px;
    font-style: normal;
    color: white;
    z-index: 5;
}

.heroPage .heroPage-text2{
    position: absolute;
    top:28%;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 100px;
    font-style: normal;
    color: white;
    z-index: 5;
}

.heroPage .heroPage-text2-span{
    font-weight: bold;
    background: linear-gradient(90deg, #ff6ec4, #7873f5,#ff6ec4);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradient 3s infinite linear;
}

.heroPage .heroPage-paragraph{
    display:flex;
    position: absolute;
    top:49%;    
    max-width: 700px;   
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.heroPage .heroPage-pa{
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#8c9bb3;
}

.page1-section{
    background-color: white;
}


.heroPage-buttons{
    display:flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    height:auto;
    gap:15px;
    top:63%;
}

.heroPage-buttons .heroPage-button-play{
    display:flex;
    min-width:180px;
    height:50px;
    background-color:#4f46e5;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.heroPage-buttons .heroPage-button-play:hover{
    transform: scale(1.1);
    background-color: #6366f1;
    transition: ease-in .1s;    
}
.heroPage-button-play .heroPage-button-play-h1{
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#fffffe;
}

.heroPage-buttons .heroPage-button-play2{
    display:flex;
    min-width:150px;
    height:50px;
    background-color:#1e293b;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.heroPage-buttons .heroPage-button-play2:hover{background-color: #374151;}

.heroPage-button-play2 .heroPage-button-play-h2{
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color:#fffffe;
}


@media (max-width: 1024px) {
    body {
        background-color: #1e1e22;
        margin:0;
        padding:0;
    }
    
    .navbar .navbar-title{
        padding-left: 0;
    }
    .navbar .navbar-buttons li{
        display:none;
    }

    .hamburger-label{
        display:flex;
        position: absolute;
        right:0;
        padding-right:20px;
    }
    .navbar-mobile-menu{
        position: fixed;
        top: 90px;
        background-color:rgba(0, 0, 0, 0.733);
        width: 100%;
        height: calc(100% - 90px);
        z-index: 999;
    }
    .heroPage .heroPage-text1{
        position: absolute;
        top:18%;
        font-family: "Bakbak One", sans-serif;
        font-weight: 400;
        font-size: 8vh;
        font-style: normal;
        color: white;
        z-index: 5;
    }    
    .heroPage .heroPage-text2{
        position: absolute;
        top:24%;
        font-family: "Bakbak One", sans-serif;
        font-weight: 400;
        font-size: 6.7vh;
        font-style: normal;
        color: white;
        z-index: 5;
    }
    .heroPage .heroPage-paragraph{
        top:38%;   
        max-width: 50vh;
    }
    .heroPage .heroPage-pa{
        font-family: "Bakbak One", sans-serif;
        font-weight: 400;
        font-size: 20px;
        color:#8c9bb3;
    }
    .heroPage-buttons .heroPage-button-play{
        min-width:25vh;
        height:70px;
        border-radius: 10px;
    }
    .heroPage-button-play .heroPage-button-play-h1{
        font-size: 28px;
    }
    .heroPage-buttons .heroPage-button-play2{
        min-width:18vh;
        height:70px;
        border-radius: 10px;
    }
    .heroPage-button-play2 .heroPage-button-play-h2{
        font-size: 20px;
    }
}
