/* font-uri importate , sursa : Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
body{
    background:linear-gradient(to top right, #0f172a, #0e1729, #151f34);
    margin:0;
    padding: 0;
}
main{
    padding-top: 90px;
    margin:0;
}


/* 
keyframe = logica din spatele unei animatii,bazata pe puncte.
*/
@keyframes textGradient{
    0%{
        background-position: 0% 50%;  /* background-postion = x , y 
         primeste doua coordonate x si y pentru a pozitia fundalul unui obiect*/
    }
    100% {
        background-position: 100% 50%;
    }
}
@keyframes glow {
    0% {
        transform: translate(0px,0px) rotate(0deg);
        box-shadow: 0 0 60px 20px #3009a5, 25px 15px 50px 10px #2029a5, -5px -25px 30px 5px #2648d1;
    }
    100% {
        transform: translate(50px,50px) rotate(5deg);
        box-shadow: 0 0 80px 20px #56bcf9, 35px 20px 40px 10px #fff, -30px -30px 40px 5px #fff;
    }
}
@keyframes glow2 {
    0% {
        transform: translate(0px,0px) rotate(0deg);
        box-shadow: 0 0 60px 20px #3009a5, 25px 15px 50px 10px #2029a5, -5px -25px 30px 5px #2648d1;
    }
    100% {
        transform:translate(-25px,-50px) rotate(90deg);
        box-shadow: 0 0 100px 20px #254187, 35px 20px 40px 10px #6095cb, -30px -30px 40px 5px #4c97ed;
    }
}
/***************************************************************/

/*
    NAVBAR
*/
.navbar{
    display:flex; /* ofera flexibilitate div-ului nostru*/
    position:fixed; /* div-ul nostru are o pozitie fixa */
    background-color:rgba(0,0,0,0.10); /* culoarea de fundal */
    backdrop-filter: blur(10px); /* backdrop-filter = ne permite sa adaugam efecte grafice , de exemplu : blur sau color shifting*/
    -webkit-backdrop-filter: blur(10px); /*webkit = proprietate a motorului Webkit , pentru browsere vechi , face acelasi lucru ca backdrop-filter*/
    margin:0;  
    padding: 0;
    width:100%;
    height:90px;
    justify-content: center;
    align-items: center;
    z-index: 888;
}


/* Navbar title  */
.navbar .navbar-title{
    display: flex;
    position: absolute;
    left:0;
    padding-left: 20vw;
    color:white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.navbar .navbar-title:hover{
    color:#f3bb3b;
    animation: ease-in .2s;
}


.navbar-logo{
    position: relative;
    width:50px;
    height:50px;
    top:-4px;
    
}

/* Navbar Button List */
.navbar .navbar-buttons{
    list-style-type: none;
    display:flex;
    position:absolute;
    align-items: center;
    justify-content: center;
    right:0;
    padding-right: 20vw;
} 
.navbar .navbar-buttons li{
    margin-right: 20px;
}
.navbar .navbar-buttons a{
    text-decoration: none;
    color: white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal; 
}

.navbar .navbar-buttons li a:hover{
    color:#f3bb3b;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-buttons li a .underline {
    display: block;
    height: 2px;
    width: 0;
    background: white;
    transition: width 0.3s ease;
}

.navbar .navbar-buttons a:hover .underline{ 
    width: 100%;
}

/* 
    HAMBURGER
*/
.hamburger-check{
    display:none;
    appearance: none;
}
.hamburger-label {
    display:none;
    width:70px;
    height:50px;
    cursor:pointer;
}
/* Lucreaza pe div-urile din hamburger-label */
.hamburger-label div {
    width:50px;
    height:6px;
    background-color:white;
    position: absolute;
}
.hamburger-label .line1{
    transition: all .3s;
}
.hamburger-label .line2{
    margin: 18px 0 0 0;
    transition: 0.3s;
}
.hamburger-label .line3{
    margin:36px 0 0 0;
    transition: 0.3s;
}
#hamburger-check:checked + .hamburger-label .line1{
    transform: rotate(35deg) scaleX(.55) translate(39px, -4.5px);
    border-radius: 50px 50px 50px 0;
}
#hamburger-check:checked + .hamburger-label .line2{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 45px;
}
#hamburger-check:checked + .hamburger-label .line3{
    transform: rotate(-35deg) scaleX(.55) translate(39px, 4.5px);
     border-radius: 0 50px 50px 50px;
}


/* 
    HAMBURGER NAVBAR MOBILE MENU
*/

.navbar-mobile-menu {
    display: none;
    justify-content: center;
    align-items: center;
}
.navbar-mobile-menu .navbar-mobile-buttons{
    list-style-type: none;
    position:absolute;
    align-items: center;
    justify-content: center;
    top: 25%;
} 
.navbar-mobile-buttons a{
    text-decoration: none;
    color: white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal; 
    font-size:50px;
}



/*
    HEROPAGE 
*/

.heroPage{
    display:flex;
    flex-direction: column;
    width:100%;
    min-height:100vh;
    align-items: center;
    justify-content: center;
}

.heroPage .glow1 {
    display:flex;
    position: absolute;
    top: 60%;
    left: 10%;
    border-radius: 50%;
    animation: glow 5s linear 0s infinite alternate;
}
.heroPage .glow2 {
    display:flex;
    position: absolute;
    top: 30%;
    right:20%;
    border-radius: 50%;
    animation: glow2 3s linear 0s infinite alternate;
}
.heroPage .hero-image1{
    display:flex;
    position: absolute;
    width:600px;
    height: 600px;
    top:100px;    
}

.heroPage .heroPage-text1{
    position: absolute;
    top:15%;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 140px;
    font-style: normal;
    color: white;
    z-index: 5;
}

.heroPage .heroPage-text2{
    position: absolute;
    top:28%;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 100px;
    font-style: normal;
    color: white;
    z-index: 5;
}

.heroPage .heroPage-text2-span{
    font-weight: bold;
    background: linear-gradient(90deg, #ff6ec4, #7873f5,#ff6ec4);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradient 3s infinite linear;
}

.heroPage .heroPage-paragraph{
    display:flex;
    position: absolute;
    top:49%;    
    max-width: 700px;   
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.heroPage .heroPage-pa{
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#8c9bb3;
}

.heroPage-buttons{
    display:flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    height:auto;
    gap:15px;
    top:63%;
    flex-direction: row;
}

.heroPage-buttons .heroPage-button-play{
    display:flex;
    min-width:180px;
    height:50px;
    background-color:#4f46e5;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.heroPage-buttons .heroPage-button-play:hover{
    transform: scale(1.1);
    background-color: #6366f1;
    transition: ease-in .1s;    
    box-shadow: 0px 0px 20px #4f46e5;
}



.heroPage-button-play .heroPage-button-play-h1{
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#fffffe;
}


.heroPage-buttons .heroPage-button-play2{
    display:flex;
    min-width:150px;
    height:50px;
    background-color:#1e293b;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.heroPage-buttons .heroPage-button-play2:hover{background-color: #374151;}

.heroPage-button-play2 .heroPage-button-play-h2{
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color:#fffffe;
}


/*
    Section1 page1
*/


.page1-section{
    display:flex;
    position: relative;
    width: 100%;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    /* background-color: lime; */
    flex-direction: column;
}
.page1-section .page1-texts{
    /* background-color: black; */
    display:flex;
    position:relative;
    width: 100%;
    padding-bottom:50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
}
.page1-section .page1-main-h1{
    display:flex;
    position: relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    color: #ffffff;
    z-index: 5; 
    margin-top: -15px;
}

.page1-section .page1-upper-h1{
    display:flex;
    position: relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    top:0;
    font-size: 20px;
    font-style: normal;
    color: #22d3ee;
    z-index: 5;
}

.page1-section .page1-description{  
    display:flex;
    position:relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#8c9bb3;
    margin-top:-25px;
}



.page1-section .page1-infoCards{
    display:flex;
    position: relative;
    width: 100%;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    /* background-color: lime; */
    flex-direction: row;
    gap:35px;
}

.page1-section .page1-card{
    display:flex;
    position: relative;
    width:500px;
    min-height: 190px;
    background-color: #162033;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:#313f53;
}
.page1-section .page1-card:hover{
    border-color:#06b6d4;
}
.page1-section .page1-card:hover .page1-cardbox{
    background-color: #06b6d4;
}
.page1-section .page1-card:hover .page1-cardbox .cardbox-icon{
    color: #ffffff;
}

.page1-card .page1-cardbox{
    display:flex;
    position: absolute;
    width:50px;
    height: 50px;
    background-color: #334155;
    border-radius: 10px;
    top:10%;
    left:5%;
    justify-content: center;
    align-items: center;
}

.page1-cardbox .cardbox-icon{
    color: #24c0db;
    width: 35px;
    height: 35px;
}

.page1-card .page1-cardText{
    display: flex;
    position: absolute;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: #ffffff;
    top:30%;
    left:5%;
}

.page1-card .page1-cardDesc{
    display: flex;
    position: absolute;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    color: #939faf;
    top:55%;
    left:5%;
}



/*
    Section2 page2
*/

.page2-section{
    display:flex;
    position: relative;
    width: 100%;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    /* background-color: lime; */
    flex-direction: column;
}
.page2-section .page2-texts{
    /* background-color: black; */
    display:flex;
    position:relative;
    width: 100%;
    padding-bottom:50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
}
.page2-section .page2-main-h1{
    display:flex;
    position: relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    color: #ffffff;
    z-index: 5; 
    margin-top: -15px;
}

.page2-section .page2-upper-h1{
    display:flex;
    position: relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    top:0;
    font-size: 20px;
    font-style: normal;
    color: #22d3ee;
    z-index: 5;
}

.page2-section .page2-description{  
    display:flex;
    position:relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#8c9bb3;
    margin-top:-25px;
}



.page2-section .page2-infoCards{
    display:flex;
    position: relative;
    width: 100%;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    /* background-color: lime; */
    flex-direction: row;
    gap:35px;
}

.page2-section .page2-exploremore{
    display: flex;
    margin-top: 50px;
    margin-bottom: 60px;
    width:150px;
    height: 70px;
    background-color:#06b6d4;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    
}

.page2-exploremore h1{
    color: #ffffff;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.page2-exploremore a{
    text-decoration: none;
}

.page2-exploremore:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 45px #06b5d481;
}
.page2-section .page2-card{
    display:flex;
    position: relative;
    width: 550px;
    height: 400px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color:#313f53;
    transition: all ease-in .3s;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.page2-card .card-button{
    display: flex;
    position: absolute;
    top:40%;
    width:120px;
    height: 50px;
    background-color: #06b6d4;
    z-index: 6;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    opacity: 0;
    transition: all ease-in .3s;
}
.page2-section .card-button a{
    text-decoration: none;
}

.page2-card .card-button h1{
    color: #ffffff;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.page2-card .overlay{
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.379);
    z-index: 5;
    transition: all ease-in .1s;
}

.page2-section .page2-card img{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    /*
    Nu am folosit background-size,background-position,background-repeat etc 
    pentru ca : este mult mai flexibila proprietatea object + ca este o solutie
    moderna si este o practica mult mai buna decat background.
    */
    
    object-fit: cover;
    object-position: center;
    transform: scale(1);
    border-radius:10px;
    transition: all ease-in .2s;
}
.page2-section .card-info{
    display:flex;
    position: absolute;
    width:100%;
    height: 130px;
    background-color: #162033;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.page2-section .page2-card:hover{
    border-color:#06b6d4;
    box-shadow: 0px 13px 45px #06b5d481;
    transform: scale(1.05);
    /* transition: transform ease-in .3s; */
}
.page2-section .page2-card:hover .card-button{
    top:30%;
    opacity: 100;
}
.page2-section .card-button:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 45px #06b5d481;
}
.page2-section .page2-card:hover .overlay{
    opacity: 100;
}
.page2-section .page2-card:hover img{
    transform: scale(1.1);
}

.page2-card .page2-cardText{
    display: flex;
    position: absolute;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: #ffffff;
    top:0;
    left:5%;
}

.page2-card .page2-cardDesc{
    display: flex;
    position: absolute;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    color: #21d3d1;
    top:40%;
    left:5%;
}
.page3-reminder{
    display: flex;
    position: relative;
    width: 100%;
    height: 500px;
    background: linear-gradient(to right, #07b6d4,#4e46e5);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.page3-reminder .reminder-h1{
    color: #ffffff;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 70px;
    margin-bottom:-20px;
}
.page3-reminder .reminderDesc{
    display: flex;
    position: relative;
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color:#ffffff;
    margin-top: -25px;
}

.page3-reminder .reminderbutton{
    display: flex;
    position: relative;
    margin-top: 40px;
    margin-bottom: 80px;
    width:250px;
    height: 70px;
    background-color:#ffffff;
    border-radius: 50px;
    justify-content: center;
    align-items: center;

}
.page3-reminder .reminderbutton a{
    text-decoration: none;
}
.page3-reminder .reminderbutton h1{
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    color : #2563ee;
}

.page3-reminder .reminderbutton:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 45px #ffffff;
}
.footer{
    display: flex;
    position: relative;
    width: 100%;
    min-height: 400px;
}


@media (max-width: 1024px) {
    body {
        background-color: #1e1e22;
        margin:0;
        padding:0;
    }
    
    .navbar .navbar-title{
        padding-left: 0;
    }
    .navbar .navbar-buttons li{
        display:none;
    }

    .hamburger-label{
        display:flex;
        position: absolute;
        right:0;
        padding-right:20px;
    }
    .navbar-mobile-menu{
        position: fixed;
        top: 90px;
        background-color:rgba(0, 0, 0, 0.733);
        width: 100%;
        height: calc(100% - 90px);
        z-index: 999;
    }
    .heroPage{
        min-height: 80vh;
    }
    .heroPage .heroPage-text1{
        position: absolute;
        top:18%;
        font-family: "Bakbak One", sans-serif;
        font-weight: 400;
        font-size: 8vh;
        font-style: normal;
        color: white;
        z-index: 5;
    }    
    .heroPage .heroPage-text2{
        position: absolute;
        top:24%;
        font-family: "Bakbak One", sans-serif;
        font-weight: 400;
        font-size: 6.7vh;
        font-style: normal;
        color: white;
        z-index: 5;
    }
    .heroPage .heroPage-paragraph{
        top:38%;   
        max-width: 50vh;
    }
    .heroPage .heroPage-pa{
        font-family: "Bakbak One", sans-serif;
        font-weight: 400;
        font-size: 20px;
        color:#8c9bb3;
    }
    .heroPage-buttons .heroPage-button-play{
        min-width:25vh;
        height:70px;
        border-radius: 10px;
    }
    .heroPage .heroPage-buttons{
        flex-direction: column;
    }
    .heroPage-button-play .heroPage-button-play-h1{
        font-size: 28px;

    }
    .heroPage-buttons .heroPage-button-play2{
        min-width:18vh;
        height:70px;
        border-radius: 10px;
    }
    .heroPage-button-play2 .heroPage-button-play-h2{
        font-size: 20px;
    }

    .page1-texts .page1-main-h1{
        font-size: 4vh;
        /* margin-top: -10px; */
        text-align: center;
        margin:20px;
        margin-bottom: -20px;
    }
    .page1-texts .page1-upper-h1{
        font-size: 2vh;
        text-align: center;
        margin-bottom: -20px;
        
    }
    
    .page1-section .page1-description{
        margin-top: -10px;
        font-size: 2vh;
        margin:20px;
        text-align: center;
    }
    .page1-section .page1-infoCards{
        flex-direction: column;
    }
    .page1-section .page1-card{
        width:90vw;
        min-height: 190px;
        background-color: #162033;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color:#313f53;
    }

    .page2-texts .page2-main-h1{
        font-size: 4vh;
        text-align: center;
    }
    .page2-texts .page2-description{
        font-size: 1.7vh;
         text-align: center;
    }
    .page2-section .page2-infoCards{
        flex-direction: column;
    }
    .page2-infoCards .page2-card{
        width: 90vw;
    }
    .page3-reminder{
        margin-top:-80px;
    }
    .page3-reminder .reminder-h1{
        text-align: center; 
        font-size: 3vh;
    }
    .page3-reminder .reminderDesc{
        text-align: center;
        font-size: 2vh;
    }
}
