{%extends 'gamehub.html'%}
{%block head%}
<title>CogniPlay</title>
{%endblock%}
{%block body%}
    <div class="navbar" id="navbar">
        <!-- HomePage Navbar Title -->
        <h1 class="navbar-title"><img src="{{url_for('static',filename='images/brain.png')}}" class ="navbar-logo">CogniPlay Games Hub</h1>    
        <a href="/games" class="navbar-button"><h1> < Games</h1>
        </a>
    </div>


    <!-- <div class="footer">
        <h1 class="footer-text">©2025 CogniPlay | All rights questioned.</h1>
        <p class="footer-desc">Think Fast->Think Smart</p>
    </div> -->

    <main>
        <section class="gameWindow">
            <div class="gameWindow-playbg">
                <div class="gameWindow-play">
                    <div class="gamewindow-playuiStart" id="gamewindow_playuiStart">
                        <h1>{{game.name}}</h1>
                        <p>{{game.description}}</p>
                        <button class="startGame" id="startGame" name="startGame">
                            <h1>Start Game</h1>
                        </button>
                    </div>
                    <div class="playuiStart-panel" id="playuiStart-panel">
                        <h1 id="playuiStart-panel-level">LeveL: 2</h1>
                        <h1 id="playuiStart-panel-timer">Timer: 00:00.00</h1>
                    </div>
                    <h1 id="gamewindow-h1">[Dynamic Title]</h1>
                    <p id="gamewindow-p">{{game.gameDesc}}</p>
                    <div class="gameWindow-score"></div>
                    <div class="gamewindow-playuiPlay" id="gamewindow-playuiPlay" data-game-id="{{game_id}}">
                    </div>
                    <div class="feedback" id="feedback"><h1 class="feedback-h1" id="feedback-h1"></h1></div>
                    <div class="gamewindow-gameOver" id="gamewindow-gameOver">
                        <h1 class="gameOver-text">Game Over</h1>
                        <h1 class="gameOver-description">Good effort! Ready for another round?</h1>
                        <div class="gameOver-scoreShowcase">
                            <div class="gameOver-circle"></div>
                            <h1 class="gameOver-score" id="gameOver-score">903</h1>
                        </div>
                        <div class="gameOver-container">
                            <div class="gameOver-containerBox">
                                <div class="containerBox-container">
                                    <svg class="gameOver-icon"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M13 15.9C15.2822 15.4367 17 13.419 17 11V4H7V11C7 13.419 8.71776 15.4367 11 15.9V18H9V20H15V18H13V15.9ZM9 6H15V11C15 12.6569 13.6569 14 12 14C10.3431 14 9 12.6569 9 11V6Z"
                                            fill="currentColor"
                                        />
                                        <path d="M18 6H20V11H18V6Z" fill="currentColor" />
                                        <path d="M6 6H4V11H6V6Z" fill="currentColor" />
                                    </svg>
                                    <h1 class="gameOver-bestscoreText">Best Score</h1>
                                </div>
                                <br><h1 class="gameOver-bestscore" id="gameOver-bestscore">{{best_score}}</h1>
                            </div>
                             <div class="gameOver-containerBox">
                                <div class="containerBox-container">
                                    <svg class="gameOver-icon"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    >
                                    <path d="M9 7H11V12H16V14H9V7Z" fill="currentColor" />
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z"
                                        fill="currentColor"
                                    />
                                    </svg>
                                    <h1 class="gameOver-bestscoreText">Time</h1>
                                </div>
                                <br><h1 class="gameOver-bestscore" id="gameOver-timer">00:31.23</h1>
                            </div>
                        </div>
                        <div class="gameOver-containerbuttons">
                            <div class="gameOver-retry" id="gameOver-retry">
                                <svg class="gameOverbutton-icon"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    >
                                    <path
                                        d="M13.1459 11.0499L12.9716 9.05752L15.3462 8.84977C14.4471 7.98322 13.2242 7.4503 11.8769 7.4503C9.11547 7.4503 6.87689 9.68888 6.87689 12.4503C6.87689 15.2117 9.11547 17.4503 11.8769 17.4503C13.6977 17.4503 15.2911 16.4771 16.1654 15.0224L18.1682 15.5231C17.0301 17.8487 14.6405 19.4503 11.8769 19.4503C8.0109 19.4503 4.87689 16.3163 4.87689 12.4503C4.87689 8.58431 8.0109 5.4503 11.8769 5.4503C13.8233 5.4503 15.5842 6.24474 16.853 7.52706L16.6078 4.72412L18.6002 4.5498L19.1231 10.527L13.1459 11.0499Z"
                                        fill="currentColor"
                                    />
                                </svg>
                                <h1>Play again</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="gameWindow-scoreboard">
                
                <div class="topScore">
                    <svg class="topScore-icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13 15.9C15.2822 15.4367 17 13.419 17 11V4H7V11C7 13.419 8.71776 15.4367 11 15.9V18H9V20H15V18H13V15.9ZM9 6H15V11C15 12.6569 13.6569 14 12 14C10.3431 14 9 12.6569 9 11V6Z"
                            fill="currentColor"
                        />
                        <path d="M18 6H20V11H18V6Z" fill="currentColor" />
                        <path d="M6 6H4V11H6V6Z" fill="currentColor" />
                    </svg>
                    <h1 class="topScoreText">Top Score</h1>
                    <div class="topScore-container">
                        <h1 class="topScore-score" name="topScore-score">2543</h1>
                        <h1 class="topScore-time" name="topScore-time"> 0:43</h1>
                        <h1 class="topScore-date" name="topScore-date">24/11/2025</h1>
                    </div>
                </div>
            </div> -->
        </section>
    </main>
{%endblock%}

